Flask==3.0.0
Flask-SQLAlchemy==3.1.1
geocoder==1.38.1
geopandas==0.14.3
geopy==2.4.1
pymysql==1.1.0
xgboost==2.0.3
numpy==1.26.2
scikit-learn==1.4.0
pandas==2.1.4
joblib==1.2.0
shapely==2.0.3
mysqlclient==2.2.4